<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 webshipr.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="webshipr_order_status_change" instance="Webshipr\Shipping\Observer\CreateWebshiprOrderAdminObserver" />
    </event>
</config>