<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 webshipr.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers" translate="label" type="text" sortOrder="320" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="webshipr" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Webshipr Shipping Method</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Extension enabled?]]></comment>
                </field>

                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>

                 <field id="token" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Token</label>
                </field>
                
                <field id="statuses" translate="label" type="multiselect" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auto transfer statuses</label>
                    <source_model>Webshipr\Shipping\Model\Config\Source\Orderstatuses</source_model>
                    <comment><![CDATA[Select the order statuses that will trigger the event to submit the order to Webshipr]]></comment>
                </field>

                <field id="auto_transfer" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Process on auto transfer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="droppoint_limit" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Droppoint limit</label>
                </field>

                <field id="weight_unit" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Weight Unit</label>
                    <source_model>Webshipr\Shipping\Model\Config\Source\Weightunit</source_model>
                    <comment><![CDATA[The weight unit used in your products. Weight will be transferred in KG to Webshipr.]]></comment>
                </field>

                <field id="order_closing" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Order Closing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Enable Webshipr to complete/close Magento orders via API.]]></comment>
                </field>

                 <field id="customer_notifications" translate="label" type="multiselect" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Customer Notifications</label>
                    <source_model>Webshipr\Shipping\Model\Config\Source\Customernotification</source_model>
                    <comment><![CDATA[Choose the Magento notifications that you want to enable when orders are completed/closed by Webshipr.]]></comment>
                </field>

                <field id="sort_order" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>

                <field id="sallowspecific" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ship to Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>

            </group>
        </section>
    </system>
</config>